.topnav{
  color: black;
  margin: 20px;;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
  color:black;
}
li{
  display: inline;
  padding:10px 40px;
  color:black;
  font-size: large;
}
.button{
  background-color: black;
  border:none;
  color:white;
  padding:10px 13px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;

}
.container{
  font-size: xx-large;
  margin-top:70px;
  text-align: center;
  
}
.p1{
  font-size: 20px;
}
.button2{
  background-color: aqua;
  border: 0px;
  padding: 15px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
margin-bottom: 20px;
}
.footer{
  width:100%;
  background-color: blue;
  height: 100;
  float: left;
  margin:0 10px;
}
.wrapper{
  width:100%;
  max-width:980px;
  padding-top:10px;
}
#footer{
  background-color: rgb(10, 10, 10);
  width:100%
  
}
.footerFloat{
  width:25%;
  float:left;
  color:white;
}
.social{
  color: white;
  margin:10px;
  padding:20px;
}
.user-logo {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #2d9bf0;
  padding: 2px;
}
.search{
  float:right;
  margin:7px;
}
